
/* Doodle Stage */
#stage {
  background: violet;
  height: 300px;
  width: 600px;
}

#heart {
    fill:red;
    height: 4em;
    
}

#heart2 {
  fill: green;
  height: 4em;
}

#bone {
  height: 4em;
}