/* Style Guide
  * Primary Color: cornflowerblue
  * Secondary Color: slategray
*/

/* Typography 
  * Primary Font: Merriweather Sans
  * 
  *
*/

h1 {
  color: rgb(12, 48, 114);
  font-size: 50px;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
  letter-spacing: 6px;
}
body{
  background: wheat;
}
nav{
  align-self: left;
}
p{
  color: slategray;
}

img {
  width: 50%;
}
