/* Style Guide
  * Primary Color: cornflowerblue
  * Secondary Color: slategray
*/

/* Typography 
  * Primary Font: Merriweather Sans
*/

body{
  background: wheat;
}

nav {
  list-style-type: none;
  padding: 15px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

a {
  text-decoration: none;
  text-align: center;
  color: cornflowerblue;
  position: relative;
  padding: 20px;
  font-family: 'Merriweather Sans', sans-serif;
}

.background {
  position: relative;
  text-align: center;
  width: 200%;
  height: 285px;
  margin: -26px;
}

p{
  margin: 45px;
  color: slategray;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 25px;

}

.image {
  width: 35%;
  float: right;
  position: relative;
}

.center{
  position: absolute;
  top: 5%;
  left: 25%;
  font-size: 70px;
  color: whitesmoke;
  letter-spacing: 6px;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
}

