/* Style Guide
  * Primary Color: cornflowerblue
  * Secondary Color: slategray
*/

/* Typography 
  * Primary Font: Merriweather Sans
  * 
  *
*/

body{
  background: wheat;
}

nav {
  list-style-type: none;
  padding: 5px;
  overflow: hidden;
  position: absolute;
  top: 2%;
  right: 1%;
}

a {
  text-decoration: none;
  text-align: center;
  color: cornflowerblue;
  position: relative;
  padding: 20px;
  font-family: 'Merriweather Sans', sans-serif;
}

a:hover {
  background-color:#111;
}

.background {
  position: relative;
  background-size: cover;
  width: 100%;
  height: 285px;
  overflow: hidden;
  margin: 0;
}

p{
  margin: 45px;
  color: slategray;
  font-family: 'Merriweather Sans', sans-serif;

}

.image {
  width: 35%;
  float: right;
}

.center{
  position: absolute;
  top: 11%;
  left: 25%;
  font-size: 60px;
  color: whitesmoke;
  letter-spacing: 6px;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
}

.container {
  display: inline-block;
  width: auto;
  background-color: cornsilk;
}

.container p {
  font-size: 25px;
  font-family: 'Merriweather Sans', sans-serif;
  margin: 10px;
  top: 80%;
}

aside {
  display: inline-block;
  width: auto;
  background-color: cornsilk;
}

aside p {
  font-size: 15px;
  font-family: 'Merriweather Sans', sans-serif;
  margin: 10px;
}